{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<header class="site-header outer">
    <div class="inner">
        {{> "site-nav"}}
    </div>
</header>

<main id="site-main" class="site-main outer">
  <div class="inner">
    <h1>Work</h1>

    <div class="home-section home-box big-box" style="padding-top:0">
      <div class="tools-wrap">
        <div id="tools-dev" class="home-tools-imgs">
          <img alt="Javascript" src="/assets/js.png">
          <img alt="jQuery" src="/assets/jquery.png">
          <img alt="CSS" src="/assets/css.png">
          <img alt="SASS" src="/assets/sass.png">
          <img alt="PHP" src="/assets/php.png">
          <img alt="Grunt" src="/assets/grunt.png">
          <img alt="VSCode" src="/assets/vscode.png">
          <img alt="Git" src="/assets/git.png">
        </div>
      </div>
        <p style="text-align:center; max-width:none; font-size: 3rem">
          I'm currently a front-end dev consultant at White Hat Gaming. Previously I freelanced for two years, and before that I was with eDreams - Europe's biggest online travel agency. Find out more on my <a href="https://www.linkedin.com/in/polinakocheva/" target="_blank">Linkedin</a>.
        </p>
    </div>

  </div>
</main>